# =========================
# Python / Django
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.sqlite3

# Django stuff
staticfiles/
media/

# =========================
# Virtual Environment
# =========================
venv/
env/
.venv/

# =========================
# Environment variables
# =========================
.env

# =========================
# Logs
# =========================
*.log

# =========================
# OS / Editor junk
# =========================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =========================
# Tailwind / DaisyUI (standalone)
# =========================
store/static/css/tailwindcss.exe
store/static/css/daisyui*.mjs

